

.tickets {
    background: linear-gradient(
        to bottom,
        var(--color-primary) 0%,
        var(--color-background) 40%,
        var(--color-background) 100%
      );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tickets__empty {
    color: var(--color-primary);
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}