.order {
    width: 310px;
    height: 96px;
    border: 1px, solid var(--color-primary);
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order__info {
    margin: 0.4em
}

.order__name {
    font-size: 24px;
}

.order__details {
    font-size: 14px;
    color: var(--color-secondary);
}

.order__quantity {
    display: flex;
    height: 37px;
    font-size: 28px;
    font-weight: 200;
    color: var(--color-text);
    border-top: 1px solid var(--color-primary);
    cursor: pointer;
}

.order__decrement,
.order__increment,
.order__numberOf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.order__numberOf {
    width: 65px;
    border-left: 1px solid var(--color-primary);
    border-right: 1px solid var(--color-primary);
}
